i.note-delete-btn{
    cursor: pointer;
    color:white; 
    font-size: 20px;
    aspect-ratio: 1/1;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.note-delete-btn:hover{
    transition: .3s;
    color:#df4759;
    background: var(--Background);
}
.note-delete-btn:active{
    opacity: .75;
    transform: scale(0.8);
}
.Note-Editor{
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    background-color: aliceblue;
    display: none;
    margin-bottom: 25px;
}
.Note-Editor > span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 5px 15px;
}
.Note-Editor > span input{
    width: 75%;
    border: none;
    border-radius: 5px;
    font-size: medium;
    padding: 3px 8px;
    font-weight: 500;
    height: 25px;

}
.Note-Editor > span input:focus{
    outline: none;
    border: .5px solid blue;
}
.Note-Editor span h3{
    margin: 0px;
    width: 25%;
}
.Note-Textarea{
    width: inherit;
    border: none;
}
.Note-Container{
    background-color: var(--SidenavBG);
    border-radius: 15px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Note-Container h1 {
    color: var(--textColor);
    text-align: center;
    margin: 10px 0px;
}
.Note-Grid{
    width: calc(100% - 40px);
    height: calc(100vh - 209px);
    margin: 0px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 5px;
    overflow-y: scroll;
}
.Notes{
    background-color: var(--Transparentish);
    border-radius: 6px;
    width: 100%;
    height: 50px;
    padding: 0px 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Notes span{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Notes span input{
    height: 18px;
    width: 18px;
    cursor: pointer;
}
.Headings > p{
    color: var(--textColor);
    margin-left: 5px;
    font-weight: bold;
    font-size: large;
}
.Notes button{
    justify-self: flex-end;
    margin: 0px 4px;
}
.Note-Footer{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 25px;
}
.Note-Editor > .Note-Footer{
    justify-content: flex-end;
}
.Note-Container > .Note-Footer{
    justify-content: end;
}
.Note-Viewer{
    display: none;
    height: calc(100vh - 100px);
    width: 100%;
}
#ErrorMsg{
    display: none; 
    color: white;
    height: 21px; 
    margin-right: 20px;
    background-color: rgb(179, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    padding: 0px 5px;
}
.no-notes{
    text-align: center;
    font-size: x-large;
    color: var(--textColor);
    font-weight: bold;
}
#SelectedItemsText{
    color: white;
    height: 21px; 
    border-radius: 5px;
    font-weight: bold;
    padding: 0px 5px;
}
.SelectionOptionsSpan{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
}
.SelectionOptionsSpan > *{
    display: none; 
    margin-right: 10px;
}
button{
    background-color: #42ba96;
    color: #23241f;
    height: 30px;
    width: fit-content;
    border: none;
    border-radius: 5px;
}
.DisplayHeadings{
    background-color: var(--SidenavBG);
    position: relative;
    border-radius: 8px;
    padding: 5px 0px;
}
.DisplayHeadings > *{
    color: white;
    text-align: center;
}
#NoteDisplay-Title{
    margin: 0px;
}
#NoteDisplay-Description{
    margin: 5px 0px;
    font-style: italic;
    font-weight: 400;
}
#NoteDisplay-Body{
    height: calc(100vh - 182px);
    border-radius: 8px;
    padding: 30px;
    margin-top: 10px;
    background-color: #d1d1d1;
    overflow-y: scroll;
}
#NoteDisplay-Body > *{
    margin: 0px;
}
.Note-Grid::-webkit-scrollbar, #NoteDisplay-Body::-webkit-scrollbar{
    background-color: transparent;
    width: 3px;
}
.Note-Grid::-webkit-scrollbar-thumb, #NoteDisplay-Body::-webkit-scrollbar-thumb{
    border-radius: 10px;
}
#ReturnToNotes{
    color: black;
    border-radius: 5px;
    width: fit-content;
    border: none;
    position: absolute;
    left: 10px;
    top: 10px;
}
#btnCancelSelection{
    background-color: transparent;
    color: aliceblue;
}
.ql-align-center{
    text-align: center;
}
.marked{
    color: #f7ad00 !important;
}
#NoteDisplay-Body pre{
    background-color: #23241f;
    color: #f8f8f2;
    padding: 15px;
    border-radius: 5px;
    white-space: pre-wrap;
}