.meetingContainer{
    height: calc(100vh - 100px);
    width: 100%;
    background-color: var(--SidenavBG);
    border-radius: 10px;
    padding: 5px;
}
.meetingHeader{
    height: fit-content;
    width: inherit;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.meetingHeader > div{
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: flex-start;
    height: 35px;
}
.tab-item{
    cursor: pointer;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    margin-right: 10px;
    border-radius: 15px;
    border: 1px solid var(--Background);
    color: var(--textColor);
}
.active{
    background-color: var(--Transparentish);
    border: none;
}
#btnCreateMeeting {
    height: inherit;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #42ba96;
    color: black;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meetingList{
    height: calc(100% - 75px);
    width: 100%;
    padding: 0px 15px;
    overflow-y: scroll;
}
.meetingList::-webkit-scrollbar{
    background-color: transparent;
    width: 3px;
}
.meetingList::-webkit-scrollbar-thumb{
    background-color: var(--textColor);
    border-radius: 10px;
}
.Meeting{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    height: 150px;
    background-color: var(--Transparentish);
    margin-bottom: 10px;
}

.meetingInfo:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
.meetingInfo:first-child p{
    margin: 0px;
    margin-left: 5px;
}
.meetingInfo:first-child span{
    color: var(--textColor);
    font-weight: bold;
    font-size: larger;
    width: inherit;
    display: flex;
    justify-content: flex-start;
}
.meetingInfo:last-child{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    max-width: fit-content;
}
.meetingInfo button, .form-group:last-of-type > button, #btnSaveMeeting{
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #42ba96;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.popup-content{
    position: relative;
    width: 600px;
    height: fit-content;
    background-color: var(--SidenavBG);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-group label, .popup-header h2{
    color: var(--textColor);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.form-group{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    margin-bottom: 8px;
}
.form-group:last-of-type{
    margin-bottom: 0px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.form-group input:not([type="checkbox"]), .form-group select{
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: aliceblue;
    color: 	#161c2d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form-group input:focus, .form-group select:focus{
    outline: none;
}
.form-group input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 180px;
}
.close{
    position: absolute;
    top: 3px;
    right: 3px;
    height:25px;
    width: 25px;
    border-radius: 50%;
    color: var(--textColor);
    font-size: larger;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.close:hover{
    background-color: #df4759;
    color: white;
    transition: .3s;
}
.popup-header h2{
    margin-top: 0px;
    text-align: center;
}
#meetingRepeatDays::-webkit-scrollbar{
    background-color: transparent;
    width: 3px;
}
#meetingRepeatDays::-webkit-scrollbar-thumb{
    background-color: var(--NavbarBG);
    border-radius: 10px;
}
.meetingTooltip{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.meetingTooltip button{
    width: 65px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    color: aliceblue;
}
.meetingTooltip button:first-child{
    margin-bottom: 5px;
}
.meetingTooltip button:hover{
    background-color: rgba(255, 255, 255, 0.4);
    color: #161c2d;
}
#meetingRepeatDays option{
    border-radius: 5px;
    padding: 5px;
}
#meetingRepeatDays option:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

#meetingRepeatDays option:not(:last-child) {
    margin-bottom: 5px;
}