.greeting{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--SidenavBG);
    height: 200px;
    border-radius: 6px;
}
.greeting h1, .greeting p{
    margin: 0px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--textColor);
    font-size: 5rem;
}
.greeting p{
    font-size: 1.5rem;
}