  :root {
    --NavbarBG: #1B1338;
    --SidenavBG: #0d1f3d;
    --Background: #41358C;
    --textColor: #ddd;
  }

.taskPriority span{
  background-color: var(--Background) !important;
}
.task{
  background-color: var(--Background) !important;
}
.Notes{
  background-color: var(--Background) !important;
}
.Meeting{
  background-color: var(--Background) !important;
}
button#addEvent {
  background-color: var(--Background) !important;
}
.eventCard{
  background-color: var(--Background) !important;
}
.wrapper{
  background-color: var(--Background) !important;
}