@keyframes fade-in {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}
*{
  user-select:none;
  box-sizing: border-box;
}
body {
  background-color: var(--Background);
  margin: 0;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: scroll;
}
.content{
  margin-top: 50px;
  height: calc(100vh - 50px);
  padding-top: 25px;
  padding-left: 100px;
  padding-right: 50px;
  font-family: calibri;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.623);
  border-radius: 10px;
}
.hide-scrollbar::-webkit-scrollbar-thumb{
  visibility : hidden;
}
.content::-webkit-scrollbar-thumb:hover{
  background-color: var(--NavbarBG);
  transition: 5s;
}
.se-pre-con {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
background-color: rgb(49, 49, 49);
}
button{
cursor: pointer;
}

#title-bar-btns {
display: inline-block;
font-size: 10px;
-webkit-app-region: no-drag;
position: fixed;
top: 0px;
right: 0px;
}

#title-bar-btns button{
  color: var(--textColor);
  background-color: rgba(255, 255, 255, 0);
height: 25px;
width: 35px;
border: none;
align-items: center;
}
#topbar button{
  color: var(--textColor);
    background-color:  var(--NavbarBG);
    border-bottom: 1px solid black;
border: none;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  z-index: 3;
  border-bottom: 1px solid black;
}
#topbar{
  background-color: var(--NavbarBG);
        border-bottom: 1px solid black;
      height: 50px;
      width: 100%;
      top: 0px;
      left: 0px;
      position: fixed;
      z-index: 3;
      display: flex;
      align-items: center;
}
#topbar h2{
  color: var(--textColor);
top: 0px; /*used to be -10*/
font-family: calibri;
margin: 0;
}
#mySidenav {
  background-color: var(--SidenavBG);
 position: fixed;
 height: 100%;
 left: 0px;
 top: 0;
 width: 50px;
 overflow-x: hidden;
 overflow-y: hidden;
 white-space: nowrap;
 z-index: 1;
 display: flex;
 flex-direction: column;
 justify-content: left;
}
.NavBox{
  position: relative;
  width: 100%;
  background-color: transparent;
  height: 50px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.NavBox:hover{
  background-color: var(--NavbarBG);
  transition: .5s;
}
.iconSection{
  height: 100%;
  width: 50px;
  min-width: 50px;
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textSection{
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 1px;
}
.textSection p{
  color: var(--textColor);
  font-size: 20px;
  font-family: Calibri;
}
.maticn{
  -webkit-text-stroke: 1.2px var(--textColor);
  color: transparent; 
}
#mySidenav span:first-child{
  margin-top: 50px;
}
#mySidenav span:last-child{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.selectedNavOption{
  background-color: var(--textColor);
  position: absolute;
  height: 80%;
  border-top-right-radius: 5px;
  border-bottom-right-radius:5px;
  width: 3px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
#webHeadIcns{
font-size: 20px;
}
html::-webkit-scrollbar {
  display: none;
}
#max-btn:hover{
transition: .3s;
}
#min-btn:hover{
transition: .3s;
}
#close-btn:hover{
color: white;
transition: .3s;
}
.contChild:nth-child(1){
  background-color: var(--SidenavBG);
}
.subcont{
  background-color: var(--SidenavBG);
}
.subcont h2{
  color: var(--textColor);
}
#contB-Wrap{
padding-top: 15px;
background-color: var(--SidenavBG);
border-radius: 10px;
box-shadow: 0 0 10px 1px rgba(0,0,0,0.4);
}